<div id="addingform">
	<h1>Edit your ad below and click update when complete!</h1>

	<form method=post action=/products/<%=@product.id%>/update>
		<input type=text class="form-control" placeholder="Item Name" name="product[name]" value="<%=@product.name%>"></br>
		<textarea type=text class="form-control" rows="5" placeholder="Description" name="product[description]"><%=@product.description%></textarea></br>
		<input type=text class="form-control" placeholder="Price" name="product[price]" value="<%=@product.price%>"></br>
		<input type=submit value="Update">
	</form>

	<p>All fields are required!</p>
</div>