<div>
	<h1>Post a new ad!</h1>

	<form method=post action=/products/new>
		<input type=text placeholder="Item Name" name="product[name]"></br>
		<input type=text placeholder="Description" name="product[description]"></br>
		<input type=text placeholder="Price" name="product[price]"></br>
		<input type=submit value="Post Ad">
	</form>

	<p>All fields are required!</p>
</div>